In [3]:
import numpy as np
import pandas as pd

In [4]:
raw_copy = pd.read_csv('/workspaces/test/raw_copy.csv',index_col=0)
no_covariate_no_na_clean = pd.read_csv('/workspaces/test/no_covariate_no_na_clean.csv',index_col = 0)

In [240]:
gadays_17 = []
for id in no_covariate_no_na_clean.id.unique():
    gadays_1 = no_covariate_no_na_clean[no_covariate_no_na_clean.id == id].gadays.values[0]
    gadays_17.append(gadays_1)

pd.Series(gadays_17).describe()

count    1125.000000
mean      121.443556
std         8.175002
min        84.000000
25%       116.000000
50%       122.000000
75%       126.000000
max       151.000000
dtype: float64

In [241]:
raw_copy[((raw_copy.gadays >= 247) & (raw_copy.gadays <= 276))].FEMUR.describe()

count    1334.000000
mean       71.503748
std         2.706925
min        52.000000
25%        70.000000
50%        72.000000
75%        73.000000
max        82.000000
Name: FEMUR, dtype: float64

In [242]:
gadays_25 = []
for id in no_covariate_no_na_clean.id.unique():
    gadays_1 = no_covariate_no_na_clean[no_covariate_no_na_clean.id == id].gadays.values[1]
    gadays_25.append(gadays_1)

pd.Series(gadays_25).describe()

count    1125.000000
mean      174.832000
std         5.599572
min       158.000000
25%       171.000000
50%       175.000000
75%       178.000000
max       228.000000
dtype: float64

In [243]:
gadays_33 = []
for id in no_covariate_no_na_clean.id.unique():
    gadays_1 = no_covariate_no_na_clean[no_covariate_no_na_clean.id == id].gadays.values[2]
    gadays_33.append(gadays_1)

pd.Series(gadays_33).describe()

count    1125.000000
mean      230.346667
std         5.001494
min       202.000000
25%       227.000000
50%       231.000000
75%       233.000000
max       246.000000
dtype: float64

In [244]:
gadays_37 = []
for id in no_covariate_no_na_clean.id.unique():
    gadays_1 = no_covariate_no_na_clean[no_covariate_no_na_clean.id == id].gadays.values[3]
    gadays_37.append(gadays_1)

pd.Series(gadays_37).describe()

count    1125.000000
mean      259.158222
std         6.191045
min       184.000000
25%       256.000000
50%       259.000000
75%       262.000000
max       276.000000
dtype: float64

In [245]:
no_covariate_no_na_clean.set_index('id',inplace=True)

In [246]:
(no_covariate_no_na_clean[no_covariate_no_na_clean.gadays == 112].efw - 201.61).abs().idxmin()

9612

In [247]:
no_covariate_no_na_clean[no_covariate_no_na_clean.gadays == 112]

      gadays         efw
id
6591   112.0  157.734916
7080   112.0  162.337684
7127   112.0  162.518828
7736   112.0  137.032589
7749   112.0  140.751654
8166   112.0  149.102954
8787   112.0  153.529340
9363   112.0  153.529340
9469   112.0  153.776279
9612   112.0  167.074761

In [248]:
no_covariate_no_na_clean[no_covariate_no_na_clean.index == 9612]

      gadays          efw
id
9612   112.0   167.074761
9612   169.0   745.586896
9612   231.0  2392.310514
9612   258.0  3098.120170
9612   286.0  4070.000000

In [249]:
augmented_data_quadratic_df_ready = pd.read_csv("/workspaces/test/augmented_data_quadratic_df_ready.csv",index_col=0)

In [250]:
input_data = {
    'gadays': [122,175,230,239],
    'efw':[201,801,2193,3123]
}
input_data_df = pd.DataFrame(data = input_data)

In [251]:
input_data_df_1 = input_data_df.transpose()
input_data_df_1 = input_data_df_1.astype("float")
input_data_df_1 = input_data_df_1.rename(columns=input_data_df_1.iloc[0])
input_data_df_1 = input_data_df_1.drop(input_data_df_1.index[0])

In [252]:
df = pd.DataFrame()
for gaday in input_data_df.gadays:
    print(gaday)
    df = pd.concat([df,augmented_data_quadratic_df_ready.loc[:,augmented_data_quadratic_df_ready.columns == str(float(gaday))]],axis =1)

122
175
230
239

In [253]:
df

           122.0       175.0        230.0        239.0
3     171.550844  901.061171  2048.976915  2274.720871
5     178.127374  927.223474  2190.056677  2443.777923
6     190.535257  897.931898  2638.240915  2774.411191
7     158.243485  850.094810  1767.532280  1937.001786
38    176.854216  925.096719  2168.974105  2417.841247
...          ...         ...          ...          ...
9619  185.569427  872.991364  2354.362002  2640.248966
9691  165.355160  880.663579  1925.505439  2125.816839
9763  175.182741  916.974836  2129.842792  2371.277787
9811  181.089705  940.194889  2256.705911  2523.408720
9818  177.110282  925.223753  2172.826587  2422.677588

[1123 rows x 4 columns]

In [258]:
input_data_df_1

     122.0  175.0   230.0   239.0
efw  201.0  801.0  2193.0  3123.0

In [271]:
(df - input_data_df_1.values).abs().sum(axis = 1).idxmin()

1225

In [273]:
(df - input_data_df_1.values).abs().sum(axis = 1).describe()

count    1123.000000
mean      999.247494
std       216.817458
min       595.129518
25%       823.950589
50%       934.644970
75%      1130.143039
max      1861.478597
dtype: float64

In [272]:
df[df.index == 1225]

           122.0       175.0        230.0       239.0
1225  178.087074  933.322175  2203.774467  2693.88005

In [280]:
training_seq = augmented_data_quadratic_df_ready[augmented_data_quadratic_df_ready.index == 1225]

In [361]:
input_data_df_1.transpose().index

Float64Index([122.0, 175.0, 230.0, 239.0], dtype='float64')

In [363]:
training_seq.transpose().index = training_seq.transpose().index.astype('float')

In [367]:
training_seq.loc[:,training_seq.columns.astype('float').isin(input_data_df_1.columns)] = input_data_df_1.values

/tmp/ipykernel_1263/3053345974.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  training_seq.loc[:,training_seq.columns.astype('float').isin(input_data_df_1.columns)] = input_data_df_1.values

In [377]:
covariate_5_records = pd.read_csv("/workspaces/test/covariates_5_record.csv",index_col=0)

In [378]:
covariate_5_records

,id,wt_before_preg,height,NoPrevPreg,hpb,cardiac,baseline_diabetes,renal,reg_smoke
1,3,56.0,163.0,1.0,0.0,0.0,0.0,0.0,0.0
2,5,61.0,166.0,1.0,0.0,0.0,0.0,0.0,0.0
3,6,53.0,158.0,1.0,0.0,0.0,0.0,0.0,1.0
4,7,50.0,164.0,1.0,0.0,0.0,0.0,0.0,1.0
5,38,53.0,164.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...
2038,9619,56.0,169.0,1.0,0.0,0.0,0.0,0.0,1.0
2047,9691,65.0,170.0,1.0,0.0,0.0,0.0,0.0,1.0
2059,9763,49.0,160.0,2.0,0.0,0.0,0.0,0.0,1.0
2062,9811,65.0,160.0,1.0,0.0,0.0,0.0,0.0,1.0
2064,9818,70.0,170.0,1.0,0.0,0.0,0.0,0.0,1.0

In [ ]:
sum(training_seq.columns.astype('float').isin(input_data_df_1.columns))

4

In [368]:
training_seq.loc[:,training_seq.columns.astype('float').isin(input_data_df_1.columns)]

      122.0  175.0   230.0   239.0
1225  201.0  801.0  2193.0  3123.0

In [370]:
training_seq = training_seq.loc[:,:'301.0']

In [372]:
y_days = 53
y = training_seq.iloc[:,-y_days:]
X = training_seq.drop(columns = y.columns)

In [374]:
X.shape

(1, 165)

In [379]:
input_df_mom = pd.read_csv("/workspaces/test/input_df_mom.csv",index_col=0)

In [385]:
covariates_5_record = pd.read_csv("/workspaces/test/covariates_5_record.csv",index_col=0)
covariates_5_record = covariates_5_record.iloc[:,1:]

In [386]:
covariates_5_record

,wt_before_preg,height,NoPrevPreg,hpb,cardiac,baseline_diabetes,renal,reg_smoke
1,56.0,163.0,1.0,0.0,0.0,0.0,0.0,0.0
2,61.0,166.0,1.0,0.0,0.0,0.0,0.0,0.0
3,53.0,158.0,1.0,0.0,0.0,0.0,0.0,1.0
4,50.0,164.0,1.0,0.0,0.0,0.0,0.0,1.0
5,53.0,164.0,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...
2038,56.0,169.0,1.0,0.0,0.0,0.0,0.0,1.0
2047,65.0,170.0,1.0,0.0,0.0,0.0,0.0,1.0
2059,49.0,160.0,2.0,0.0,0.0,0.0,0.0,1.0
2062,65.0,160.0,1.0,0.0,0.0,0.0,0.0,1.0
2064,70.0,170.0,1.0,0.0,0.0,0.0,0.0,1.0

In [387]:
pd.concat([covariates_5_record,input_df_mom],axis = 0)

,wt_before_preg,height,NoPrevPreg,hpb,cardiac,baseline_diabetes,renal,reg_smoke
1,56.00,163.00,1.0,0.0,0.0,0.0,0.0,0.0
2,61.00,166.00,1.0,0.0,0.0,0.0,0.0,0.0
3,53.00,158.00,1.0,0.0,0.0,0.0,0.0,1.0
4,50.00,164.00,1.0,0.0,0.0,0.0,0.0,1.0
5,53.00,164.00,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...
2047,65.00,170.00,1.0,0.0,0.0,0.0,0.0,1.0
2059,49.00,160.00,2.0,0.0,0.0,0.0,0.0,1.0
2062,65.00,160.00,1.0,0.0,0.0,0.0,0.0,1.0
2064,70.00,170.00,1.0,0.0,0.0,0.0,0.0,1.0
0,59.18,165.95,1.0,1.0,1.0,1.0,1.0,1.0

In [389]:
from keras.models import load_model

2022-12-12 19:42:50.882052: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.
2022-12-12 19:42:53.461989: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer.so.7'; dlerror: libnvinfer.so.7: cannot open shared object file: No such file or directory
2022-12-12 19:42:53.462199: W tensorflow/compiler/xla/stream_executor/platform/default/dso_loader.cc:64] Could not load dynamic library 'libnvinfer_plugin.so.7'; dlerror: libnvinfer_plugin.so.7: cannot open shared object file: No such file or directory
2022-12-12 19:42:53.462208: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Cannot dlopen some TensorRT libraries. If you would like to use Nvidia GPU with TensorRT, please make sure the missing libraries mentioned above are installed properly.

In [390]:
model_qua_lstm_std = load_model("/workspaces/test/model_qua_lstm_std_75.h5")
model_qua_lstm_std.summary()

2022-12-12 19:42:56.227711: E tensorflow/compiler/xla/stream_executor/cuda/cuda_driver.cc:267] failed call to cuInit: CUDA_ERROR_NO_DEVICE: no CUDA-capable device is detected
2022-12-12 19:42:56.227792: I tensorflow/compiler/xla/stream_executor/cuda/cuda_diagnostics.cc:156] kernel driver does not appear to be running on this host (2c7e350c27ba): /proc/driver/nvidia/version does not exist
2022-12-12 19:42:56.228173: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

Model: "model_23"
__________________________________________________________________________________________________
 Layer (type)                   Output Shape         Param #     Connected to
==================================================================================================
 input_47 (InputLayer)          [(None, 165, 1)]     0           []

 lstm_10 (LSTM)                 (None, 128)          66560       ['input_47[0][0]']

 input_48 (InputLayer)          [(None, 8)]          0           []

 concatenate_23 (Concatenate)   (None, 136)          0           ['lstm_10[0][0]',
                                                                  'input_48[0][0]']

 dense_23 (Dense)               (None, 53)           7261        ['concatenate_23[0][0]']

==================================================================================================
Total params: 73,821
Trainable params: 73,821
Non-trainable params: 0
__________________________________________________________________________________________________

In [403]:
X_scaled_df = pd.read_csv("/workspaces/test/X_scaled.csv",index_col=0)
input_df_mom_standardized = pd.read_csv("/workspaces/test/input_df_mom_standardized.csv",index_col=0)
input_df_mom_standardized = input_df_mom_standardized.transpose()

In [404]:
input_df_mom_standardized

,wt_before_preg,height,NoPrevPreg,hpb,cardiac,baseline_diabetes,renal,reg_smoke
0,-0.000052,-0.000292,1.0,1.0,1.0,1.0,1.0,1.0

In [407]:
X_scaled_pred = X_scaled_df.iloc[-1,:]
X_scaled_pred = np.array(X_scaled_pred).reshape(X_scaled_pred.shape[0],1)
X_scaled_pred = X_scaled_pred.reshape(1,X_scaled_pred.shape[0],1)

In [410]:
X_scaled_pred.shape, input_df_mom_standardized.shape

((1, 165, 1), (1, 8))

In [411]:
model_qua_lstm_std = load_model("/workspaces/test/model_qua_lstm_std_75.h5")

pred_y = model_qua_lstm_std.predict([X_scaled_pred,input_df_mom_standardized])

1/1 [==============================] - 0s 371ms/step

In [413]:
pred_y.shape

(1, 53)

In [414]:
y = augmented_data_quadratic_df_ready.iloc[:,-y_days:]
X = augmented_data_quadratic_df_ready.drop(columns = y.columns)

In [416]:
df_90th_10th = pd.read_csv("/workspaces/test/df_90th_10th.csv",index_col=0)
raw_copy_5_record = pd.read_csv("/workspaces/test/raw_copy_5_record.csv",index_col=0)

In [11]:
true_pred_df = pd.read_csv("/workspaces/test/true_pred_df.csv",index_col=0)
df_90th_10th = pd.read_csv("/workspaces/test/df_90th_10th.csv",index_col=0)
raw_copy_5_record = pd.read_csv("/workspaces/test/raw_copy_5_record.csv",index_col=0)

In [2]:
from pre_process import *

In [7]:
is_macro(true_pred_df)

,249.0,250.0,251.0,252.0,253.0,254.0,255.0,256.0,257.0,258.0,...,292.0,293.0,294.0,295.0,296.0,297.0,298.0,299.0,300.0,301.0
0,False,False,False,False,False,False,False,False,False,False,...,True,True,True,True,True,True,True,True,True,True

In [15]:
true_pred_df.columns.astype('float')

Float64Index([249.0, 250.0, 251.0, 252.0, 253.0, 254.0, 255.0, 256.0, 257.0,
              258.0, 259.0, 260.0, 261.0, 262.0, 263.0, 264.0, 265.0, 266.0,
              267.0, 268.0, 269.0, 270.0, 271.0, 272.0, 273.0, 274.0, 275.0,
              276.0, 277.0, 278.0, 279.0, 280.0, 281.0, 282.0, 283.0, 284.0,
              285.0, 286.0, 287.0, 288.0, 289.0, 290.0, 291.0, 292.0, 293.0,
              294.0, 295.0, 296.0, 297.0, 298.0, 299.0, 300.0, 301.0],
             dtype='float64')

In [16]:
df_90th_10th

     gadays  90th percentile BW  10th percentile BW
0      70.0           41.000000           29.000000
1      71.0           42.406170           29.901906
2      72.0           43.930999           30.891472
3      73.0           45.564915           31.964293
4      74.0           47.298346           33.115962
..      ...                 ...                 ...
246   316.0         4667.982401         3444.602679
247   317.0         4655.833334         3445.269498
248   318.0         4641.995538         3445.156926
249   319.0         4626.438981         3444.252817
250   320.0         4609.133632         3442.545023

[251 rows x 3 columns]

In [25]:
lga_limit = df_90th_10th.loc[((df_90th_10th["gadays"]>=249.0) & (df_90th_10th["gadays"]<=301.0)),"90th percentile BW"]

In [35]:
float(true_pred_df.columns[-1])

301.0

In [36]:
lga_result = true_pred_df > np.array(lga_limit).reshape(1,53)

In [40]:
lga_result.loc[0] = lga_result.loc[0].map({True: "Yes", False: "No"})

In [41]:
lga_result

,249.0,250.0,251.0,252.0,253.0,254.0,255.0,256.0,257.0,258.0,...,292.0,293.0,294.0,295.0,296.0,297.0,298.0,299.0,300.0,301.0
0,No,No,No,No,No,No,No,No,No,No,...,No,No,No,No,No,No,No,No,Yes,No